.header {
  background-color: darkgreen;
  @include breakpoint(large) {
    background-color: lightgoldenrodyellow;
  }
  @include breakpoint(medium only) {
    background-color: lightpink;
  }
  &__row {
    @include flex-grid-row();
  }
  &__logo {
    @include flex-grid-column(2);
  }
  &__nav {
    @include flex-grid-column(10);
  }
}