.title-subtitle {
  padding-top: 75px;
  padding-bottom: 50px;
  opacity: 0;
  &__row {
    @include flex-grid-row();
    flex-direction: column;
    align-items: center;
  }
  &__title {
    @include flex-grid-column(12);
    @include breakpoint(large) {
      @include flex-grid-column(7);
    }
  }
  &__subtitle {
    @include flex-grid-column(12);
    @include breakpoint(large) {
      @include flex-grid-column(8);
    }
  }
  &--animated {
    animation-name: fadeInUp;
    animation-duration: 1s;
    animation-fill-mode: backwards;
    opacity: 1;
  }
}
